name: Java CI with Gradle

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    env:
      WEBHOOK_RECRUITER: ${{ secrets.WEBHOOK_RECRUITER }}
      WEBHOOK_PINKGUARD: ${{ secrets.WEBHOOK_PINKGUARD }}
      WEBHOOK_FRONTMAN: ${{ secrets.WEBHOOK_FRONTMAN }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21

      - name: Create .env file for CI
        run: |
          echo "WEBHOOK_RECRUITER=$WEBHOOK_RECRUITER" >> .env
          echo "WEBHOOK_PINKGUARD=$WEBHOOK_PINKGUARD" >> .env
          echo "WEBHOOK_FRONTMAN=$WEBHOOK_FRONTMAN" >> .env

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Build and test with Gradle
        run: ./gradlew clean build --stacktrace
