name: Build + Deploy

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      
      - name: Run script that uses secret
        run: |
          echo "Sending to Discord"
          curl -X POST -H "Content-Type: application/json" \
               -d '{"message":"Deployment Complete"}' \
               ${{ secrets.WEBHOOK_PARTYPETE }}
